*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    overflow: hidden;
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}
.nav-bar {
    display: flex;
    position: absolute;
    color: white;
    z-index: 99;
}

ul {
    list-style: none;
    margin: 0rem 1rem;
    display: flex;
    flex-direction: column;
}

a {
    display: flex;
    text-decoration: none;
    color: white;
    font-size: 1rem;
    padding: 0.25rem 0rem;
    margin: 0.25rem 0rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    text-shadow: 1px 1px 2px black;
    
}

a:hover {
    text-decoration: underline;
    
}
