*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    overflow: hidden;
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

.nav-bar {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    color: white;
    z-index: 99;
}

ul {
    list-style: none;
    margin: 0rem 1rem;
}

a {
    display: flex;
    text-decoration: none;
    color: white;
    font-size: 1rem;
    padding: 0.5rem 0.5rem;
    margin: 1rem 0rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    
}

a:hover {
    text-decoration: underline;
    
}

.section
{
    display: flex;
    align-items: center;
    height: 100vh;
    position: relative;
    font-family: 'Cabin', sans-serif;
    color: #ff0000;
    text-transform: uppercase;
    font-size: 7vmin;
    padding-left: 10%;
    padding-right: 10%;
    transform: translateX(-700px);
}

.odd {
    transform: translateX(700px);
    justify-content: end;
}
